//
//  Config.xcconfig
//  Inspector
//

PRODUCT_NAME = Insepctor

CODE_SIGN_IDENTITY =

PRODUCT_BUNDLE_IDENTIFIER = com.0xxd0.$(PRODUCT_NAME:rfc1034identifier)

INFOPLIST_FILE = $(SRCROOT)/Sources/Info.plist

IPHONEOS_DEPLOYMENT_TARGET = 8.0

MACOSX_DEPLOYMENT_TARGET = 10.9

TVOS_DEPLOYMENT_TARGET = 9.0

WATCHOS_DEPLOYMENT_TARGET = 2.0

SWIFT_VERSION = 3.2
